name: Azure Static Web Apps - HTML Only

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"

          # HTML static site
          app_location: "/"
          output_location: ""

          # no API
          api_location: ""

          # VERY IMPORTANT
          skip_app_build: true
          skip_api_build: true
